.container {
    padding: 0 0 1em 0;
    margin-top: .5em;
    width: 282px;
    background-color:#DBF1C1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial;    
}

.capa {
    width: 100%;
}

.container h2, .favoritar {
    padding: 0 1em;
}

.favoritar {
    width: 25px;
}

.link {
    text-decoration: none;
    color: black;
    text-align: left;
}