.container { width: 282px; 
  background-color: #b2cbec; 
  display: flex; 
  flex-direction: column; 
  font-family: Arial, sans-serif; 
  border-radius: 8px; 
  overflow: hidden; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s ease; 
  padding: 0 0 1em 0; 
}

.container:hover {
  transform: scale(1.02);
}

.capa {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container h2,
.favoritar {
  padding: 0 1em; 
  
}

.favoritar {
  width: 15px;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  text-align: left;
}

@media (max-width: 768px) {
  .container {
    margin: 0.5em 0;
    margin-left: 5px;
    gap: 1em; 
    justify-content: center;    
  }

  .container h2 {
    font-size: 8px;
  }
}
